@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* Custom styles */
@theme{
  --color-primario: #b50d30;
  --color-blanco: #ffffff;
  --color-negro: #000000;
  --color-baseRojo: #F2C6CF;

  --font-lato: "Lato", system-ui;
}

:root{
  background-color: var(--color-blanco);
  color: var(--color-negro);
}